body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

textarea, select, button {
  width: 90%;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

button {
  background: #00ffaa;
  border: none;
  cursor: pointer;
}

.hide {
  display: none;
}

/* Spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #333;
  border-top: 6px solid #00ffaa;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

progress {
  width: 80%;
  height: 15px;
}
